* {
  font-family: 'Comic Neue', cursive;
}

.page-cont {
  display: flex;
  flex-direction: column;
  margin: 0%;
}

.leaderboard-cont {
  display: flex;
  margin-top: 6%;
  justify-content: space-around;
}

.leaderboard-title {
  margin-left: 3%;
  font-size: 80px;
}

.refresh-cont {
  display: flex;
  align-items: center;
  gap: 30%;
}

.refresh-button {
  align-self: center;
  height: 20%;
  padding: 34%;
  background-color: white;
  box-shadow: 2.5px 5px;
  border: 3px solid black;
  font-size: 15px;
}

.add-cont {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.scores-cont {
  display: flex;
  flex-direction: column;
}

input {
  border: 3px solid black;
  margin: 8%;
  height: 10%;
  width: 85%;
  font-size: 18px;
  padding: 2%;
}

.submit-cont {
  display: flex;
}

.submit-button {
  align-self: flex-end;
  padding: 4%;
  margin-top: 8%;
  margin-right: 4%;
  background-color: white;
  box-shadow: 2.5px 5px;
  border: 3px solid black;
  font-size: 15px;
}

.add-title {
  margin-left: 8%;
}

.recent-title,
.add-title {
  font-size: 40px;
}

#input1 {
  margin-top: 0%;
}

.recent-cont {
  width: 35%;
}

p:nth-child(1n) {
  align-items: center;
  font-size: 18px;
  border: 3px solid black;
  margin: 0%;
  padding: 2%;
  background-color: rgb(255, 255, 255);
}

p:nth-child(2n) {
  background-color: rgb(212, 212, 212);
  align-items: center;
  font-size: 18px;
  border: 3px solid black;
  margin: 0%;
  padding: 2%;
}
